/***
    The new CSS reset - version 1.8.3 (last updated 21.1.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 :root{
    ff1: 'Kanit', sans-serif;
    ff2: 'Roboto Condensed', sans-serif;
 }
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
html{
    font-size: 62.5%;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(145deg,#6db093 0%, #008046 75% );
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-card{
    width: 55%;
    height: 80%;
    background-color: rgb(40, 40, 40);
    border-radius: 2.5rem;
    padding: 2.5rem;
    box-shadow: 0 1.4rem 8rem rgba(40, 40, 40, .8);
    position: relative;
}
.blog-card-content{
    position: absolute;
    top: 1%;
    left: 15%;
    transform: scale(0.8);
}
.blog-card-content h1{
    font-family: var(ff1);
    font-size: 3.5rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 2rem;
}

.blog-card-content h3{
    font-family: var(ff2);
    font-size: 2rem;
    color: #999;
    margin-bottom: 2rem;
}
.blog-card-content p{
    font-family: var(ff2);
    font-size:1.6rem;
    color: #777;
    width: 35rem;
    margin-bottom: 3rem;
}

.card-btn{
    width: 16rem;
    height: 4rem;
    background: linear-gradient(145deg,#6db093 0%, #008046 75% );
    border: none;
    color: #fff;
    font-family: var(ff1);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;

}
.blog-card-img{
    width: 30rem;
    height: 30rem;
    background: linear-gradient(145deg,#6db093 0%, #008046 75% );
    border-radius: 2rem;
    position: absolute;
    top: 15%;
    left: -10rem;
    transform: translateY(-50%) scale(0.6);
}
.blog-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.blog-tours{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    bottom: 6rem;
    left: 0;
}
.blog-tours-item{
    border-radius: 1rem;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.tour-img{
    width: 25rem;
    height: 35rem;
}
.tour-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}